## Make sandy earth

In [67]:
data = """x=495, y=2..7
y=7, x=495..501
x=501, y=3..7
x=498, y=2..4
x=506, y=1..2
x=498, y=10..13
x=504, y=10..13
y=13, x=498..504"""

In [68]:
import re
x = list(map(int, re.findall(r'x=([0-9]+)[.,]', data)))
y = list(map(int, re.findall(r'y=([0-9]+)[.,]', data)))

In [69]:
minx, maxx = min(x)-10, max(x)+10
rngx = maxx - minx + 1
miny, maxy = min(y), max(y)+10
rngy = maxy + 1

In [70]:
minx, maxx, miny, maxy

(485, 516, 1, 23)

In [71]:
earth = [rngx * ['.'] for _ in range(maxy)]

## Put clay in earth

In [72]:
import re
xs = re.findall(r'x=([0-9]+), y=([0-9]+)\.\.([0-9]+)', data)
ys = re.findall(r'y=([0-9]+), x=([0-9]+)\.\.([0-9]+)', data)

In [73]:
xs = [(int(x), (int(y1), int(y2))) for x, y1, y2 in xs]
ys = [(int(y), (int(x1), int(x2))) for y, x1, x2 in ys]

In [74]:
xs

[(495, (2, 7)),
 (501, (3, 7)),
 (498, (2, 4)),
 (506, (1, 2)),
 (498, (10, 13)),
 (504, (10, 13))]

In [77]:
ys

[(7, (495, 501)), (13, (498, 504))]

In [78]:
def t(a):
    """Transpose a list of lists."""
    return list(map(list, zip(*a)))

In [79]:
def lprint(l):
    for row in l:
        print(row)
    return

def pprint(a):
    earth = ["".join(row) for row in a]
    lprint(earth)
    return

In [88]:
earth = [rngx * ['.'] for _ in range(maxy)]

earth[0][500-minx] = '+'

for y, layer in enumerate(earth):
    for y_, (x1, x2) in ys:
        if y == y_:
            layer[x1-minx:x2-minx+1] = (x2-x1+1) * ["#"]

earth = t(earth)
for x, column in enumerate(earth):
    for x_, (y1, y2) in xs:
        if x == x_-minx:
            column[y1:y2+1] = (y2-y1+1) * ["#"]
earth = t(earth)

In [89]:
pprint(earth)

...............+................
.....................#..........
..........#..#.......#..........
..........#..#..#...............
..........#..#..#...............
..........#.....#...............
..........#.....#...............
..........#######...............
................................
................................
.............#.....#............
.............#.....#............
.............#.....#............
.............#######............
................................
................................
................................
................................
................................
................................
................................
................................
................................

## Pour and propagate water

In [126]:
def s(earth):
    return [''.join(lyr) for lyr in earth]

In [ ]:
t = 0

while t < 1000:
    
    # Turn into vertical strings.    
    ev = s(t(earth))
    for col in ev:
        re.sub(r'\+(\.)+?#', lambda m: len(m.group())*'|', col)
        re.sub(r'\+(\.)+?#', lambda m: len(m.group())*'|', col)
    
    # Turn into horizontal strings
    
    t += 1

In [123]:
def cb(m):
    return '|' * len(m.group())

re.sub(r'(?<=\+)(\.+?)(?=#)', cb, '+..................|#...........#####.........')

'+|||||||||||||||||||#...........#####.........'